<div ng-app="ExchangeRateApp">
    <div ng-controller="ExchangeRateCtrl">
        <form name="myForm">
            <div class="jumbotron">
                <h1>Lighthouse Currency Convertor</h1>
                <p class="lead">Make millions on the FOREX with this app.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div style="float:left">
                        <p>
                            <label for="repeatSelect">
                                From:
                                <select name="repeatSelect" id="repeatSelect" ng-model="from" ng-change="getToCountries()">
                                    <option ng-repeat="option in response" value="{{option.base}}">{{option.base}}</option>
                                </select>
                            </label>
                        </p>
                        </div>
                    <div>
                        <p>
                            <label for="repeatSelect">
                                To:
                                <select name="repeatSelect" id="repeatSelect" ng-model="to" ng-change="setRate()">
                                    <option ng-repeat="(key, value) in toCountries" value="{{key}}">{{key}}</option>
                                </select>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Amount
                        <input type="text" name="amount" ng-model="amount" required>
                    </label>
                    <button ng-click="convert()">convert</button>
                </div>
                <div class="col-md-4">
                    <label>Result</label>
                    <p>{{result}}</p>
                    <p>Rates are accurate as of {{date}}</p>
                    <p>REMEBER TO SHOW ERRORS</p>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/exchange-rate-service.js")
    @Scripts.Render("~/Scripts/app/exchange-rate-controller.js")
}
