<div ng-app="ExchangeRateApp">
    <div ng-controller="ExchangeRateCtrl">
        <div class="jumbotron">
            <h1>Lighthouse Currency Convertor</h1>
            <p class="lead">Make millions on the FOREX with this app.</p>
        </div>
        <form name="convertForm" class="form-horizontal">
            <div class="form-group">
                <label for="repeatSelect">From</label>
                <select name="repeatSelect" id="repeatSelect" ng-model="from" ng-change="getToCountries()" class="form-control" required>
                    <option value="">--Select--</option>
                    <option ng-repeat="option in response" value="{{option.base}}">{{option.base | uppercase}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="repeatSelect2">To</label>
                <select name="repeatSelect2" id="repeatSelect" ng-model="to" ng-change="setRate()" class="form-control" required>
                    <option value="">--Select--</option>
                    <option ng-repeat="(key, value) in toCountries" value="{{key}}">{{key | uppercase}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount(whole $)</label>
                <input type="number" name="amount" ng-model="amount" required class="form-control">
            </div>
            <div class="form-group">
                <button ng-click="convert()" class="btn btn-default">Convert</button>
            </div>
            <div class="form-group">
                <label>Result</label>
                <p>{{result | currency:symbol|uppercase : 2 }}</p>
                <p><i>Rates are accurate as of {{date}}</i></p>
            </div>
        </form>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-messages.js")
    @Scripts.Render("~/Scripts/app/exchange-rate-service.js")
    @Scripts.Render("~/Scripts/app/exchange-rate-controller.js")
}
